@font-face {
  font-family: manrope;
  src: url(../assets/Manrope-VariableFont_wght.ttf);
}
.manrope {
  font-family: manrope;
}

.home-bg {
  background-image: url(../assets/background2_fix.jpg);

  background-size: contain;
  background-repeat: round;
}
.overlay {
  border-image: linear-gradient(
      to bottom,
      rgba(7, 6, 10, 0.1),
      rgba(32, 18, 54, 0.6)
    )
    fill 1;
}
.home-item {
  max-width: 1600px;
  width: 358px;
}
.home-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #0e091399;
}
.diamond-container {
  position: relative;
  overflow: hidden; /* Ensures the background stays contained */
}

.diamond-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/diamond.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: 0; /* Ensures the background stays behind the text */
}

.diamond-container .z-10 {
  position: relative;

  z-index: 10;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.contact-button {
  border-radius: 32px;
  font-size: 32px;
}
.home-brands {
  z-index: 10;
}
.intro-box {
  border-radius: 40px;
}
.gif-box {
  border: 1px solid #d1d5db;
  border-radius: 40px;
}
.details-box {
  border-left: 1px solid #d1d5db;
  border-radius: 40px;
}
.home-software {
  border-bottom: 1px solid #d9d9d9;
}
.container {
  display: flex;
  flex-direction: column;
  height: 669px; /* Adjust the height as needed */
  width: 1280px; /* Adjust the width as needed */
}

.top-section {
  display: flex;
  height: 75%;
}

.left-half,
.right-half {
  width: 50%;
  height: 100%;
}

.bottom-section {
  height: 25%;
}
.home-circle {
  background-color: #543880;
  border-radius: 200px;
}
.home-rectangle {
  border-left: 1px solid white;
  border-radius: 20px;

  background-color: #201236;
}
.home-circle-star {
  background-color: #f2d190;
  border-radius: 200px;
}
body {
  background: #eee;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-scrollbar {
  background-color: #ccc; /* Background color of the scrollbar track */
  height: 8px; /* Adjust the height of the scrollbar */
}

.mySwiper .swiper-scrollbar-drag {
  background-color: #8043e0; /* Color of the draggable scrollbar thumb */
  border-radius: 4px; /* Round corners of the scrollbar thumb */
}
.home-hagg {
  border-top: 1px solid white;
}
.box-bg {
  background-color: #20103699;
}
