.card-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-preview {
  width: 100px;
  background-color: aqua;
  height: 100px;
  border-radius: 100px;
}
.card-content {
  position: absolute;
  border-left: 1px solid #000;
  height: 50px;
  margin-left: 86px;
}
