.container {
  display: flex;
  flex-direction: column;
  height: 669px; /* Adjust the height as needed */
  width: 1280px; /* Adjust the width as needed */
}

.top-section {
  display: flex;
  height: 75%;
}

.left-half,
.right-half {
  width: 50%;
  height: 100%;
}

.bottom-section {
  height: 25%;
}
